@tailwind base;
@tailwind components;
@tailwind utilities;

input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

[x-cloak] {
    display: none;
}

select[readonly], select[disabled], input[readonly], input[disabled] {
    background-color: #b3cfa9;
}

*[disabled] {
    cursor: not-allowed;
}

label.required {
    font-weight: 700;
}

label.required > span.label::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

